body {
  background-color: #393e46;
  text-align: center;
}

h1 {
  font-family: "Lobster";
  color: #4ecca3;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  margin: 30px;
}

p {
  font-family: "Indie Flower";
  color: #4ecca3;
  font-size: 2rem;
}

img {
  width: 70%;
}

footer {
  font-family: "Indie Flower";
  color: #eeeeee;
  margin: 5%;
}

.container {
  margin: auto;
  width: 70%;
}

.dice {
  display: inline-block;
}
